@media (max-width: 90em) {
  .main-nav-ul,
  .normal-sec,
  .cta-section {
    margin: 2rem 5rem;
  }

  .hero-container {
    padding: 2rem 4rem;
  }

  .grid-3 {
    margin: 0;
  }

  .container {
    margin: auto;
  }
}

@media (max-width: 75em) {
  .grid-3,
  .grid-4 {
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .grid-3::-webkit-scrollbar,
  .grid-4::-webkit-scrollbar {
    width: 0;
  }

  .grid-3-cols {
    margin: 2rem;
  }

  .testimonial-grid-4-cols {
    margin: 1rem;
    height: 90%;
  }
}

@media (max-width: 75em) {
  .grid-3,
  .grid-4 {
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .grid-3::-webkit-scrollbar,
  .grid-4::-webkit-scrollbar {
    width: 0;
  }

  .grid-3-cols {
    margin: 2rem;
  }

  .testimonial-grid-4-cols {
    margin: 1rem;
    height: 90%;
  }
}

@media (max-width: 75em) {
  /* .normal-sec {
    margin-left: 15rem;
  } */
  .grid-3,
  .grid-4,
  .testimonial-grid {
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .grid-3::-webkit-scrollbar,
  .grid-4::-webkit-scrollbar,
  .testimonial-grid::-webkit-scrollbar {
    width: 0;
  }

  .testimonial-grid {
    flex-grow: 40rem;
  }

  .grid-3-cols {
    margin: 2rem;
  }

  .testimonial-grid-4-cols {
    margin: 1rem;
    height: 90%;
  }

  .policy-text {
    width: 90rem;
  }
}

@media (max-width: 64em) {
  .burger {
    display: flex;
    background-color: transparent;
    justify-content: space-around;
    flex-direction: column;
    position: absolute;
    left: 90%;
    height: 4rem;
    cursor: pointer;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    bottom: 87.6%;
    width: 100%;
    height: 100%;
    align-items: start;
    transition: all 0.3s linear;
    opacity: 0;
    /* z-index: 1; */
    /* transform: translate(1%); */
    transform: translateY(100%) translateX(-100%);
  }

  .normal-sec,
  .cta-section {
    flex-direction: column;
    margin: 2rem 3rem;
    align-items: start;
  }

  .burger-menu.open {
    opacity: 100%;
  }

  .burger-menu {
    padding: 0.8rem 1rem 2rem 1rem;
  }

  .grid-2 {
    display: block;
  }

  .skill-img {
    width: 100%;
  }

  .hero-container {
    padding: 2rem;
  }

  .grid-2-cols {
    margin: 0;
    /* height: 100%; */
  }

  .feature-grid-2-cols {
    margin: 2rem 0;
  }

  .skill-ul {
    padding: 0;
  }

  .hire-btn {
    width: 100%;
  }

  .match {
    left: 1rem;
  }

  .features {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    margin: auto;
    width: 70%;
  }

  .svg {
    display: none;
  }

  .footer-container {
    height: 100%;
    display: block;
  }

  .footer-ul {
    display: block;
    padding: 0;
    margin: 0;
  }

  .footer-grid-4,
  .footer-nav {
    margin: 1rem 0;
  }

  .socials {
    margin: 0;
  }

  .socials-ul {
    padding: 0;
  }

  .contact-btn {
    width: 100%;
    border-radius: 0.8rem;
  }
  .grid-3,
  .grid-4 {
    display: block;
    overflow: hidden;
  }
  .grid-3-cols,
  .grid-4-cols {
    width: 96%;
  }
}

@media (max-width: 36em) {
  .ade-btn,
  .adekunle-grid {
    gap: 0.5rem;
  }

  .features {
    width: 100%;
  }

  .cover {
    margin-left: 2rem;
  }

  .feature-text {
    font-size: 1.2rem;
  }
}

@media (max-width: 28em) {
  .adekunle {
    padding: 3rem 0.5rem;
  }

  .sign- {
    width: 100%;
  }
}
